{
  "name"       : "YOUR_LAMBDA_FUNCTION_NAME",
  "description": "YOUR_LAMBDA_FUNCTION_DESCRIPTION",
  "region"     : "ap-northeast-1",
  "handler"    : "lambda_function.lambda_handler",
  "role"       : "arn:aws:iam::XXXXXXXXXXX:role/ROLE_NAME_FOR_LAMBDA",
  "timeout"    : 30,
  "memory"     : 128,
  "variables"  :
    {
      "SLACK_POST_URL"              : "YOUR_SLACK_WEBHOOK_URL",
      "SLACK_CHANNEL"               : "YOUR_SLACK_CHANNEL"
      "SLACK_OUTGOING_WEBHOOK_TOKEN": "YOUR_SLACK_OUTGOING_WEBHOOK_TOKEN",
      "POCKET_CONSUMER_KEY"         : "YOUR_POCKET_CONSUMER_KEY",
      "POCKET_ACCESS_TOKEN"         : "YOUR_POCKET_ACCESS_TOKEN"
    }
}
